.forecast {
  margin: 244px 0;
}

.forecast__header {
  font-size: 28px;
  font-weight: 300;
  line-height: 34px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}

.forecast__temperature {
  font-size: 72px;
  font-weight: 700;
  line-height: 87px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.forecast__condition {
  margin-bottom: 36px;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}

.forecast__icon {
  display: block;
  margin: 0 auto;
}

button[data-current="wrong"] {
  background: transparent;
  font-family: "Mulish", sans-serif;
  font-size: 17px;
  font-style: italic;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.5);
}

.forecast__footer {
  font-size: 21px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}

.forecast__search label {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  color: rgba(255, 255, 255, 0.7);
}

input[type="text"] {
  display: block;
  margin: 0 auto 36px;
  width: 326px;
  border: 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.75);
  outline: none;
  background: transparent;
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  color: rgba(255, 255, 255, 0.75);
}

.forecast__search {
  margin-bottom: 282px;
}

.forecast__warning {
  margin-bottom: 78px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}
